/* stylelint-disable no-descending-specificity, max-nesting-depth, no-duplicate-selectors, scss/media-feature-value-dollar-variable */

.p-fluid {
  .p-autocomplete {
    display: flex;
  }

  .p-autocomplete-dd .p-autocomplete-input {
    width: 1%;
  }
}

.p-breadcrumb {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .p-menuitem-text {
    line-height: 1;
  }

  .p-menuitem-link {
    text-decoration: none;
  }
}

.p-button {
  margin: 0;
  display: inline-flex;
  cursor: pointer;
  user-select: none;
  align-items: center;
  vertical-align: bottom;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.p-button-label {
  flex: 1 1 auto;
}

.p-button-icon-right {
  order: 1;
}

.p-button:disabled {
  cursor: default;
}

.p-button-icon-only {
  justify-content: center;

  .p-button-label {
    visibility: hidden;
    width: 0;
    flex: 0 0 auto;
  }
}

.p-button-vertical {
  flex-direction: column;
}

.p-button-icon-bottom {
  order: 2;
}

.p-buttonset .p-button {
  margin: 0;

  &:not(:last-child) {
    border-right: 0 none;
  }

  &:not(:first-of-type):not(:last-of-type) {
    border-radius: 0;
  }

  &:first-of-type {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:last-of-type {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &:focus {
    position: relative;
    z-index: 1;
  }
}

.p-card-header img {
  width: 100%;
}

.p-carousel {
  display: flex;
  flex-direction: column;
}

.p-carousel-content {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.p-carousel-prev, .p-carousel-next {
  align-self: center;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.p-carousel-container {
  display: flex;
  flex-direction: row;
}

.p-carousel-items-content {
  overflow: hidden;
  width: 100%;
}

.p-carousel-items-container {
  display: flex;
  flex-direction: row;
}

.p-carousel-indicators {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.p-carousel-indicator > button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-carousel-vertical {
  .p-carousel-container {
    flex-direction: column;
  }

  .p-carousel-items-container {
    flex-direction: column;
    height: 100%;
  }
}

.p-items-hidden .p-carousel-item {
  visibility: hidden;

  &.p-carousel-item-active {
    visibility: visible;
  }
}

.p-chart {
  position: relative;
}

.p-chips {
  display: inline-flex;
}

.p-chips-multiple-container {
  margin: 0;
  padding: 0;
  list-style-type: none;
  cursor: text;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.p-chips-token {
  cursor: default;
  display: inline-flex;
  align-items: center;
  flex: 0 0 auto;
}

.p-chips-input-token {
  flex: 1 1 auto;
  display: inline-flex;
}

.p-chips-token-icon {
  cursor: pointer;
}

.p-chips-input-token input {
  border: 0 none;
  outline: 0 none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
  width: 100%;
}

.p-fluid .p-chips {
  display: flex;
}

.p-colorpicker {
  display: inline-block;
}

.p-colorpicker-dragging {
  cursor: pointer;
}

.p-colorpicker-overlay {
  position: relative;
}

.p-colorpicker-panel {
  position: relative;
  width: 193px;
  height: 166px;
}

.p-colorpicker-overlay-panel {
  position: absolute;
}

.p-colorpicker-preview {
  cursor: pointer;
}

.p-colorpicker-panel {
  .p-colorpicker-content {
    position: relative;
  }

  .p-colorpicker-color-selector {
    width: 150px;
    height: 150px;
    top: 8px;
    left: 8px;
    position: absolute;
  }

  .p-colorpicker-color {
    width: 150px;
    height: 150px;
  }

  .p-colorpicker-color-handle {
    position: absolute;
    top: 0;
    left: 150px;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    border-width: 1px;
    border-style: solid;
    margin: -5px 0 0 -5px;
    cursor: pointer;
    opacity: 0.85;
  }

  .p-colorpicker-hue {
    width: 17px;
    height: 150px;
    top: 8px;
    left: 167px;
    position: absolute;
    opacity: 0.85;
  }

  .p-colorpicker-hue-handle {
    position: absolute;
    top: 150px;
    left: 0;
    width: 21px;
    margin-left: -2px;
    margin-top: -5px;
    height: 10px;
    border-width: 2px;
    border-style: solid;
    opacity: 0.85;
    cursor: pointer;
  }

  .p-colorpicker-color {
    background: transparent url("~primereact/resources/images/color.png") no-repeat left top;
  }

  .p-colorpicker-hue {
    background: transparent url("~primereact/resources/images/hue.png") no-repeat left top;
  }
}

.p-contextmenu {
  position: absolute;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .p-submenu-list {
    position: absolute;
    min-width: 100%;
    z-index: 1;
  }

  .p-menuitem-link {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
    position: relative;
  }

  .p-menuitem-text {
    line-height: 1;
  }

  .p-menuitem {
    position: relative;
  }

  .p-menuitem-link .p-submenu-icon {
    margin-left: auto;
  }
}

.p-contextmenu-enter {
  opacity: 0;
}

.p-contextmenu-enter-active {
  opacity: 1;
  transition: opacity 250ms;
}

.p-datascroller {
  .p-datascroller-header {
    text-align: center;
    padding: 0.5em 0.75em;
    border-bottom: 0 none;
  }

  .p-datascroller-footer {
    text-align: center;
    padding: 0.25em 0.625em;
    border-top: 0 none;
  }

  .p-datascroller-content {
    padding: 0.25em 0.625em;
  }
}

.p-datascroller-inline .p-datascroller-content {
  overflow: auto;
}

.p-datascroller .p-datascroller-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.p-dataview-loading {
  position: relative;
  min-height: 4rem;
}

.p-dataview .p-dataview-loading-overlay {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-fieldset-legend > {
  a, span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.p-fieldset-toggleable .p-fieldset-legend a {
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}

.p-fieldset-legend-text {
  line-height: 1;
}

.p-fileupload-content {
  position: relative;
}

.p-fileupload-row {
  display: flex;
  align-items: center;

  > div {
    flex: 1 1 auto;
    width: 25%;

    &:last-child {
      text-align: right;
    }
  }
}

.p-fileupload-content .p-progressbar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.p-button.p-fileupload-choose {
  position: relative;
  overflow: hidden;

  input[type="file"] {
    display: none;
  }
}

.p-fileupload-choose.p-fileupload-choose-selected input[type="file"] {
  display: none;
}

.p-fluid .p-fileupload .p-button {
  width: auto;
}

.p-inplace {
  .p-inplace-display {
    display: inline;
    cursor: pointer;
  }

  .p-inplace-content {
    display: inline;
  }
}

.p-fluid .p-inplace.p-inplace-closable .p-inplace-content {
  display: flex;

  > .p-inputtext {
    flex: 1 1 auto;
    width: 1%;
  }
}

.p-inputnumber {
  display: inline-flex;
}

.p-inputnumber-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}

.p-inputnumber-buttons-stacked .p-button.p-inputnumber-button .p-button-label, .p-inputnumber-buttons-horizontal .p-button.p-inputnumber-button .p-button-label {
  display: none;
}

.p-inputnumber-buttons-stacked {
  .p-button.p-inputnumber-button-up {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0;
  }

  .p-inputnumber-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .p-button.p-inputnumber-button-down {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0;
  }

  .p-inputnumber-button-group {
    display: flex;
    flex-direction: column;

    .p-button.p-inputnumber-button {
      flex: 1 1 auto;
    }
  }
}

.p-inputnumber-buttons-horizontal {
  .p-button.p-inputnumber-button-up {
    order: 3;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .p-inputnumber-input {
    order: 2;
    border-radius: 0;
  }

  .p-button.p-inputnumber-button-down {
    order: 1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.p-inputnumber-buttons-vertical {
  flex-direction: column;

  .p-button.p-inputnumber-button-up {
    order: 1;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
  }

  .p-inputnumber-input {
    order: 2;
    border-radius: 0;
    text-align: center;
  }

  .p-button.p-inputnumber-button-down {
    order: 3;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
  }
}

.p-inputnumber-input {
  flex: 1 1 auto;
}

.p-fluid {
  .p-inputnumber {
    width: 100%;

    .p-inputnumber-input {
      width: 1%;
    }
  }

  .p-inputnumber-buttons-vertical .p-inputnumber-input {
    width: 100%;
  }
}

.p-inputtext {
  margin: 0;
}

.p-fluid .p-inputtext {
  width: 100%;
}

.p-inputgroup {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.p-inputgroup-addon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-inputgroup {
  .p-float-label {
    display: flex;
    align-items: stretch;
    width: 100%;
  }

  .p-inputtext {
    flex: 1 1 auto;
    width: 1%;
  }
}

.p-fluid .p-inputgroup .p-inputtext, .p-inputgroup .p-inputwrapper, .p-fluid .p-inputgroup .p-input {
  flex: 1 1 auto;
  width: 1%;
}

.p-float-label {
  display: block;
  position: relative;

  label {
    position: absolute;
    pointer-events: none;
    top: 50%;
    margin-top: -0.5rem;
    transition-property: all;
    transition-timing-function: ease;
    line-height: 1;
  }

  textarea ~ label {
    top: 1rem;
  }

  input {
    &:focus ~ label, &.p-filled ~ label {
      top: -0.75rem;
      font-size: 12px;
    }
  }

  textarea {
    &:focus ~ label, &.p-filled ~ label {
      top: -0.75rem;
      font-size: 12px;
    }
  }

  .p-inputwrapper-focus ~ label, .p-inputwrapper-filled ~ label {
    top: -0.75rem;
    font-size: 12px;
  }

  .input:-webkit-autofill ~ label {
    top: -20px;
    font-size: 12px;
  }
}

.p-input-icon-left, .p-input-icon-right {
  position: relative;
  display: inline-block;
}

.p-input-icon-left > i, .p-input-icon-right > i {
  position: absolute;
  top: 50%;
  margin-top: -0.5rem;
}

.p-fluid {
  .p-input-icon-left, .p-input-icon-right {
    display: block;
    width: 100%;
  }
}

.p-inputtextarea-resizable {
  overflow: hidden;
  resize: none;
}

.p-fluid .p-inputtextarea {
  width: 100%;
}

.p-listbox-list-wrapper {
  overflow: auto;
}

.p-listbox-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.p-listbox-item {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.p-listbox-filter-container {
  position: relative;
}

.p-listbox-filter-icon {
  position: absolute;
  top: 50%;
  margin-top: -0.5rem;
}

.p-listbox-filter {
  width: 100%;
}

.p-inline-message {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
}

.p-inline-message-icon-only .p-inline-message-text {
  visibility: hidden;
  width: 0;
}

.p-fluid .p-inline-message {
  display: flex;
}

.p-message-wrapper {
  display: flex;
  align-items: center;
}

.p-message-close {
  display: flex;
  align-items: center;
  justify-content: center;

  &.p-link {
    margin-left: auto;
    overflow: hidden;
    position: relative;
  }
}

.p-message-enter {
  opacity: 0;
}

.p-message-enter-active {
  opacity: 1;
  transition: opacity 0.3s;
}

.p-message-exit {
  opacity: 1;
  max-height: 1000px;
}

.p-message-exit-active {
  opacity: 0;
  max-height: 0;
  margin: 0;
  overflow: hidden;
  transition: max-height 0.3s cubic-bezier(0, 1, 0, 1), opacity 0.3s, margin 0.3s;

  .p-message-close {
    display: none;
  }
}

.p-orderlist-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.p-orderlist-list-container {
  flex: 1 1 auto;
}

.p-orderlist-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  min-height: 12rem;
  max-height: 24rem;
}

.p-orderlist-item {
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.p-orderlist.p-state-disabled {
  .p-orderlist-item, .p-button {
    cursor: default;
  }

  .p-orderlist-list {
    overflow: hidden;
  }
}

.p-organizationchart-table {
  border-spacing: 0;
  border-collapse: separate;
  margin: 0 auto;

  > tbody > tr > td {
    text-align: center;
    vertical-align: top;
    padding: 0 0.75rem;
  }
}

.p-organizationchart-node-content {
  display: inline-block;
  position: relative;

  .p-node-toggler {
    position: absolute;
    bottom: -0.75rem;
    margin-left: -0.75rem;
    z-index: 2;
    left: 50%;
    user-select: none;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;

    .p-node-toggler-icon {
      position: relative;
      top: 0.25rem;
    }
  }
}

.p-organizationchart-line-down {
  margin: 0 auto;
  height: 20px;
  width: 1px;
}

.p-organizationchart-line-right, .p-organizationchart-line-left {
  border-radius: 0;
}

.p-organizationchart-selectable-node {
  cursor: pointer;
}

.p-overlaypanel {
  position: absolute;
  margin-top: 10px;
}

.p-overlaypanel-flipped {
  margin-top: 0;
  margin-bottom: 10px;
}

.p-overlaypanel-close {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.p-overlaypanel-enter {
  opacity: 0;
  transform: scaleY(0.8);
}

.p-overlaypanel-enter-active {
  opacity: 1;
  transform: scaleY(1);
  transition: transform 0.12s cubic-bezier(0, 0, 0.2, 1), opacity 0.12s cubic-bezier(0, 0, 0.2, 1);
}

.p-overlaypanel-enter-done {
  transform: none;
}

.p-overlaypanel-exit {
  opacity: 1;
}

.p-overlaypanel-exit-active {
  opacity: 0;
  transition: opacity 0.1s linear;
}

.p-overlaypanel {
  &:after, &:before {
    bottom: 100%;
    left: 1.25rem;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-width: 8px;
    margin-left: -8px;
  }

  &:before {
    border-width: 10px;
    margin-left: -10px;
  }
}

.p-overlaypanel-flipped {
  &:after, &:before {
    bottom: auto;
    top: 100%;
  }
}

.p-overlaypanel.p-overlaypanel-flipped {
  &:after, &:before {
    border-bottom-color: transparent;
  }
}

.p-paginator {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.p-paginator-left-content {
  margin-right: auto;
}

.p-paginator-right-content {
  margin-left: auto;
}

.p-paginator-page, .p-paginator-next, .p-paginator-last, .p-paginator-first, .p-paginator-prev, .p-paginator-current {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  user-select: none;
  overflow: hidden;
  position: relative;
}

.p-paginator-element:focus {
  z-index: 1;
  position: relative;
}

.p-panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-panel-title {
  line-height: 1;
}

.p-panel-header-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  position: relative;
}

.p-panelmenu {
  .p-panelmenu-header-link {
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    position: relative;
    text-decoration: none;

    &:focus {
      z-index: 1;
    }
  }

  .p-submenu-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .p-menuitem-link {
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
  }

  .p-menuitem-text {
    line-height: 1;
  }
}

.p-password-meter {
  // background: transparent url("~primereact/resources/images/password-meter.png") no-repeat left top;
  height: 10px;
}

.p-password-panel-overlay {
  position: absolute;
  display: none;
}

.p-picklist {
  display: flex;
}

.p-picklist-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.p-picklist-list-wrapper {
  flex: 1 1 50%;
}

.p-picklist-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  min-height: 12rem;
  max-height: 24rem;
}

.p-picklist-item {
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.p-progressbar {
  position: relative;
  overflow: hidden;
}

.p-progressbar-determinate {
  .p-progressbar-value {
    height: 100%;
    width: 0;
    position: absolute;
    display: none;
    border: 0 none;
  }

  .p-progressbar-value-animate {
    transition: width 1s ease-in-out;
  }

  .p-progressbar-label {
    text-align: center;
    height: 100%;
    width: 100%;
    position: absolute;
    font-weight: bold;
  }
}

.p-progressbar-indeterminate .p-progressbar-value {
  &::before {
    content: "";
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: p-progressbar-indeterminate-anim 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    animation: p-progressbar-indeterminate-anim 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  }

  &::after {
    content: "";
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: p-progressbar-indeterminate-anim-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation: p-progressbar-indeterminate-anim-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    -webkit-animation-delay: 1.15s;
    animation-delay: 1.15s;
  }
}

@keyframes p-progressbar-indeterminate-anim {
  0% {
    left: -35%;
    right: 100%;
  }

  60% {
    left: 100%;
    right: -90%;
  }

  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes p-progressbar-indeterminate-anim {
  0% {
    left: -35%;
    right: 100%;
  }

  60% {
    left: 100%;
    right: -90%;
  }

  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes p-progressbar-indeterminate-anim-short {
  0% {
    left: -200%;
    right: 100%;
  }

  60% {
    left: 107%;
    right: -8%;
  }

  100% {
    left: 107%;
    right: -8%;
  }
}

@keyframes p-progressbar-indeterminate-anim-short {
  0% {
    left: -200%;
    right: 100%;
  }

  60% {
    left: 107%;
    right: -8%;
  }

  100% {
    left: 107%;
    right: -8%;
  }
}

.p-radiobutton {
  display: inline-flex;
  cursor: pointer;
  user-select: none;
  vertical-align: bottom;
}

.p-radiobutton-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-radiobutton-icon {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateZ(0) scale(0.1);
  border-radius: 50%;
  visibility: hidden;
}

.p-radiobutton-box.p-highlight .p-radiobutton-icon {
  transform: translateZ(0) scale(1, 1);
  visibility: visible;
}

.p-rating-icon {
  cursor: pointer;
}

.p-rating.p-rating-readonly .p-rating-icon {
  cursor: default;
}

.p-ripple {
  overflow: hidden;
  position: relative;
}

.p-ink {
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  transform: scale(0);
}

.p-ink-active {
  animation: ripple 0.4s linear;
}

.p-ripple-disabled .p-ink {
  display: none !important;
}

@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

.p-scrollpanel-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  float: left;
}

.p-scrollpanel-content {
  height: calc(100% + 18px);
  width: calc(100% + 18px);
  padding: 0 18px 18px 0;
  position: relative;
  overflow: auto;
  box-sizing: border-box;
}

.p-scrollpanel-bar {
  position: relative;
  background: #c1c1c1;
  border-radius: 3px;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.25s linear;
}

.p-scrollpanel-bar-y {
  width: 9px;
  top: 0;
}

.p-scrollpanel-bar-x {
  height: 9px;
  bottom: 0;
}

.p-scrollpanel-hidden {
  visibility: hidden;
}

.p-scrollpanel {
  &:hover .p-scrollpanel-bar, &:active .p-scrollpanel-bar {
    opacity: 1;
  }
}

.p-scrollpanel-grabbed {
  user-select: none;
}

.p-sidebar {
  position: fixed;
}

.p-sidebar-content {
  position: relative;
}

.p-sidebar-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.p-sidebar-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-sidebar-mask {
  background-color: transparent;
  transition-property: background-color;
}

.p-sidebar-mask-leave.p-component-overlay {
  background-color: transparent;
}

.p-sidebar-left {
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
}

.p-sidebar-right {
  top: 0;
  right: 0;
  width: 20rem;
  height: 100%;
}

.p-sidebar-top {
  top: 0;
  left: 0;
  width: 100%;
  height: 10rem;
}

.p-sidebar-bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10rem;
}

.p-sidebar-full {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: none;
  transition: none;
}

.p-sidebar-left {
  &.p-sidebar-enter {
    transform: translateX(-100%);
  }

  &.p-sidebar-enter-active {
    transform: translateX(0);
    transition: transform 0.3s;
  }

  &.p-sidebar-exit {
    transform: translateX(0);
  }

  &.p-sidebar-exit-active {
    transform: translateX(-100%);
    transition: transform 0.3s;
  }
}

.p-sidebar-right {
  &.p-sidebar-enter {
    transform: translateX(100%);
  }

  &.p-sidebar-enter-active {
    transform: translateX(0);
    transition: transform 0.3s;
  }

  &.p-sidebar-exit {
    transform: translateX(0);
  }

  &.p-sidebar-exit-active {
    transform: translateX(100%);
    transition: transform 0.3s;
  }
}

.p-sidebar-top {
  &.p-sidebar-enter {
    transform: translateY(-100%);
  }

  &.p-sidebar-enter-active {
    transform: translateY(0);
    transition: transform 0.3s;
  }

  &.p-sidebar-exit {
    transform: translateY(0);
  }

  &.p-sidebar-exit-active {
    transform: translateY(-100%);
    transition: transform 0.3s;
  }
}

.p-sidebar-bottom {
  &.p-sidebar-enter {
    transform: translateY(100%);
  }

  &.p-sidebar-enter-active {
    transform: translateY(0);
    transition: transform 0.3s;
  }

  &.p-sidebar-exit {
    transform: translateY(0);
  }

  &.p-sidebar-exit-active {
    transform: translateY(100%);
    transition: transform 0.3s;
  }
}

.p-sidebar-full {
  &.p-sidebar-enter {
    opacity: 0;
  }

  &.p-sidebar-enter-active {
    opacity: 1;
    transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  &.p-sidebar-exit {
    opacity: 1;
  }

  &.p-sidebar-exit-active {
    opacity: 0;
    transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  }
}

.p-sidebar-left.p-sidebar-sm, .p-sidebar-right.p-sidebar-sm {
  width: 20rem;
}

.p-sidebar-left.p-sidebar-md, .p-sidebar-right.p-sidebar-md {
  width: 40rem;
}

.p-sidebar-left.p-sidebar-lg, .p-sidebar-right.p-sidebar-lg {
  width: 60rem;
}

.p-sidebar-top.p-sidebar-sm, .p-sidebar-bottom.p-sidebar-sm {
  height: 10rem;
}

.p-sidebar-top.p-sidebar-md, .p-sidebar-bottom.p-sidebar-md {
  height: 20rem;
}

.p-sidebar-top.p-sidebar-lg, .p-sidebar-bottom.p-sidebar-lg {
  height: 30rem;
}

@media screen and (max-width: 64em) {
  .p-sidebar-left {
    &.p-sidebar-lg, &.p-sidebar-md {
      width: 20rem;
    }
  }

  .p-sidebar-right {
    &.p-sidebar-lg, &.p-sidebar-md {
      width: 20rem;
    }
  }
}

.p-slidemenu {
  width: 12.5em;

  &.p-slidemenu-overlay {
    position: absolute;
  }

  .p-menu-separator {
    border-width: 1px 0 0 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .p-slidemenu-rootlist {
    position: absolute;
    top: 0;
  }

  .p-submenu-list {
    display: none;
    position: absolute;
    top: 0;
    width: 12.5em;
  }

  .p-menuitem-link {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
  }

  .p-menuitem-icon, .p-menuitem-text {
    vertical-align: middle;
  }

  .p-menuitem {
    position: relative;
  }

  .p-menuitem-link .p-submenu-icon {
    margin-left: auto;
  }

  .p-slidemenu-wrapper {
    position: relative;
  }

  .p-slidemenu-content {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    height: 100%;
  }
}

.p-slidemenu-backward {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.25em;
  cursor: pointer;

  .p-slidemenu-backward-icon, span {
    vertical-align: middle;
  }
}

.p-slidemenu .p-menuitem-active {
  position: static;

  > .p-submenu-list {
    display: block;
  }
}

.p-splitbutton {
  display: inline-flex;
  position: relative;

  .p-splitbutton-defaultbutton {
    flex: 1 1 auto;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0 none;
  }
}

.p-splitbutton-menubutton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.p-splitbutton .p-menu {
  min-width: 100%;
}

.p-fluid .p-splitbutton {
  display: flex;
}

.p-tabmenu-nav {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;

  a {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: none;
    overflow: hidden;

    &:focus {
      z-index: 1;
    }
  }

  .p-menuitem-text {
    line-height: 1;
  }
}

.p-tabmenu-ink-bar {
  display: none;
  z-index: 1;
}

.p-tabview-nav {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
}

.p-tabview-nav-link {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: none;
  overflow: hidden;
}

.p-tabview-ink-bar {
  display: none;
  z-index: 1;
}

.p-tabview-nav-link:focus {
  z-index: 1;
}

.p-tabview-title {
  line-height: 1;
}

.p-tieredmenu-overlay {
  position: absolute;
}

.p-tieredmenu {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .p-submenu-list {
    position: absolute;
    min-width: 100%;
    z-index: 1;
    display: none;
  }

  .p-menuitem-link {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
    position: relative;
  }

  .p-menuitem-text {
    line-height: 1;
  }

  .p-menuitem {
    position: relative;
  }

  .p-menuitem-link .p-submenu-icon {
    margin-left: auto;
  }

  .p-menuitem-active > .p-submenu-list {
    display: block;
    left: 100%;
    top: 0;
  }
}

.p-toast {
  position: fixed;
  width: 25rem;
}

.p-toast-message-content {
  display: flex;
  align-items: flex-start;
}

.p-toast-message-text {
  flex: 1 1 auto;
}

.p-toast-top-right {
  top: 20px;
  right: 20px;
}

.p-toast-top-left {
  top: 20px;
  left: 20px;
}

.p-toast-bottom-left {
  bottom: 20px;
  left: 20px;
}

.p-toast-bottom-right {
  bottom: 20px;
  right: 20px;
}

.p-toast-top-center {
  top: 20px;
  left: 50%;
  margin-left: -10em;
}

.p-toast-bottom-center {
  bottom: 20px;
  left: 50%;
  margin-left: -10em;
}

.p-toast-center {
  left: 50%;
  top: 50%;
  min-width: 20vw;
  transform: translate(-50%, -50%);
}

.p-toast-icon-close {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;

  &.p-link {
    cursor: pointer;
  }
}

.p-toast-message-enter {
  opacity: 0;
  transform: translateY(50%);
}

.p-toast-message-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.3s, opacity 0.3s;
}

.p-toast-message-enter-done {
  transform: none;
}

.p-toast-message-exit {
  opacity: 1;
  max-height: 1000px;
}

.p-toast-message-exit-active {
  opacity: 0;
  max-height: 0;
  margin-bottom: 0;
  overflow: hidden;
  transition: max-height 0.45s cubic-bezier(0, 1, 0, 1), opacity 0.3s, margin-bottom 0.3s;
}

.p-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-toolbar-group-left, .p-toolbar-group-right {
  display: flex;
  align-items: center;
}

.p-tooltip {
  position: absolute;
  padding: 0.25em 0.5rem;
  max-width: 12.5rem;

  &.p-tooltip-right, &.p-tooltip-left {
    padding: 0 0.25rem;
  }

  &.p-tooltip-top, &.p-tooltip-bottom {
    padding: 0.25em 0;
  }

  .p-tooltip-text {
    white-space: pre-line;
  }
}

.p-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.p-tooltip-right .p-tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -0.25rem;
  border-width: 0.25em 0.25em 0.25em 0;
}

.p-tooltip-left .p-tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -0.25rem;
  border-width: 0.25em 0 0.25em 0.25rem;
}

.p-tooltip.p-tooltip-top {
  padding: 0.25em 0;
}

.p-tooltip-top .p-tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -0.25rem;
  border-width: 0.25em 0.25em 0;
}

.p-tooltip-bottom .p-tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -0.25rem;
  border-width: 0 0.25em 0.25rem;
}

.p-tree-container {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: auto;
}

.p-treenode-children {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.p-treenode-selectable {
  cursor: pointer;
  user-select: none;
}

.p-tree-toggler {
  cursor: pointer;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.p-treenode-leaf > .p-treenode-content .p-tree-toggler {
  visibility: hidden;
}

.p-treenode-content {
  display: flex;
  align-items: center;
}

.p-tree-filter {
  width: 100%;
}

.p-tree-filter-container {
  position: relative;
  display: block;
  width: 100%;
}

.p-tree-filter-icon {
  position: absolute;
  top: 50%;
  margin-top: -0.5rem;
}

.p-tree-loading {
  position: relative;
  min-height: 4rem;
}

.p-tree .p-tree-loading-overlay {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-treetable {
  position: relative;

  table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
  }

  .p-sortable-column {
    cursor: pointer;
    user-select: none;
  }
}

.p-treetable-auto-layout > .p-treetable-wrapper {
  overflow-x: auto;

  > table {
    table-layout: auto;
  }
}

.p-treetable-hoverable-rows .p-treetable-tbody > tr {
  cursor: pointer;
}

.p-treetable-toggler {
  cursor: pointer;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  overflow: hidden;
  position: relative;

  + .p-checkbox {
    vertical-align: middle;

    + span {
      vertical-align: middle;
    }
  }
}

.p-treetable-resizable {
  > .p-treetable-wrapper {
    overflow-x: auto;
  }

  .p-treetable-thead > tr > th, .p-treetable-tfoot > tr > td, .p-treetable-tbody > tr > td {
    overflow: hidden;
  }

  .p-resizable-column {
    background-clip: padding-box;
    position: relative;
  }
}

.p-treetable-resizable-fit .p-resizable-column:last-child .p-column-resizer {
  display: none;
}

.p-treetable {
  .p-column-resizer {
    display: block;
    position: absolute !important;
    top: 0;
    right: 0;
    margin: 0;
    width: 0.5rem;
    height: 100%;
    padding: 0;
    cursor: col-resize;
    border: 1px solid transparent;
  }

  .p-column-resizer-helper {
    width: 1px;
    position: absolute;
    z-index: 10;
    display: none;
  }
}

.p-treetable-scrollable-wrapper {
  position: relative;
}

.p-treetable-scrollable-header, .p-treetable-scrollable-footer {
  overflow: hidden;
  border: 0 none;
}

.p-treetable-scrollable-body {
  overflow: auto;
  position: relative;
}

.p-treetable-virtual-table {
  position: absolute;
}

.p-treetable-frozen-view .p-treetable-scrollable-body {
  overflow: hidden;
}

.p-treetable-unfrozen-view {
  position: absolute;
  top: 0;
  left: 0;
}

.p-treetable-reorder-indicator-up, .p-treetable-reorder-indicator-down {
  position: absolute;
  display: none;
}

.p-treetable .p-treetable-loading-overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}