node_modules
dist
coverage
.next
.DS_Store
.idea
.project
.jest
out
.vscode/settings.json
package-lock.json
yarn.lock
.env
.env.local
.env.development
.history
.idea
storybook-static
.cache
public/.well-known
__snapshots__/
