@import "theme";
@import "~bootstrap/scss/grid";

.element {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.name,
.value {
  // font-size: 16px;
  color: $black;
  margin-bottom: 10px;
  line-height: 1;
}

.value {
  text-align: right;
  min-width: 6rem;
}
.hover{
  cursor: pointer;
}
