@import "theme";


.wrapper {
  max-width: 536px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
  margin: 0 auto;
  flex-flow: column;

  .heading {
    margin-bottom: 35px;
  }

  .form {
    width: 100%;
  }

  .button {
    margin: 30px auto 0;
  }
}