@import "theme";
@import "~bootstrap/scss/mixins/_breakpoints";

.configColumn {
  display: flex;
  align-items: flex-end;
}

.stripeLink {
  color: $primary;
  cursor: pointer;
  text-decoration: underline;
}

.stripeContainer {
  width: max-content;
  @include media-breakpoint-down(sm) {
    font-size: 13px;
  }
}

.rowContainer {
  display: flex;
  flex-direction: column;
}

.confirmPadding {
  padding: 10px 5px;
  p {
    font-weight: bold;
  }
}
