@import "theme";

.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.overlay {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba($body-muted, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.switch {
  margin-right: 10px;
}
